{% extends '_template/base.html.twig' %}

{% block body %}


	<div class="row">
            {% for evenement in evenements %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                <div class="card h-100 shadow-sm border-light bg-light">
                    <!-- Contenu de la carte -->
                    <div class="card-body">
                        <h5 class="card-title">{{ evenement.nom }}</h5>
                    </div>
					
					<!-- Image de l'événement -->
                    <img src="assets/images/evenement/evenement{{ evenement.id }}.jpg"
                         alt="{{ evenement.nom }}"
                         class="card-img-top"
                         style="object-fit: cover; height: 200px;">

                    <!-- Footer de la carte -->
                    <div class="card-footer d-flex">
						<p class="link">Voir l'événement</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
<div class="d-flex flex-row-reverse">
    <a href="evenement_create.php" class="btn btn-success">
        <i class="fa fa-plus"></i> Ajouter un évènement
    </a>
</div>
{% endblock %}